.talk-comment {
  font-size: 16px;
}

form,
input,
input.hidden,
input.textbox,
input.text
input.textarea {
  font-size: 16px;
  max-width: 926px;
}

textarea,
textarea.text
textarea.textbox{
  font-size: 16px;
  max-width: 926px;
}

.body {
  font-size: 16px;
  max-width: 926px;
}
