#IJ-sitepage #Comments {
  font-size:calc(16px + 1.5vw);
}

.talk-comment {
  font-size:calc(16px + 1.5vw);
}

input,
input.hidden,
input.textbox,
input.text
input.textarea {
  font-size:calc(16px + 1.5vw);
  max-width: 428px;
  position: fixed;
}
textarea,
textarea.text
textarea.textbox{
  font-size:calc(16px + 1.5vw);
  max-width: 428px;
  position: fixed;
}
.body {
  font-size:calc(16px + 1.5vw);
  max-width: 428px;
  position: fixed;
}
