.talk-comment {
  font-size:calc(16px + 1.5vw);
}

input,
input.textbox,
input.text
input.textarea {
  font-size:calc(16px + 1.5vw);
  max-width: 480px;
}

textarea,
textarea.text
textarea.textbox{
  font-size:calc(16px + 1.5vw);
  max-width: 480px;
}

.body {
  font-size:calc(16px + 1.5vw);
}
